@model SystemForOrderingTickets.Models.OrdersForDateViewModel

@{
    ViewBag.Title = "Order";
}

    <div>
        <h3>Order tickets</h3>
        @using (Html.BeginForm("ConfirmOrder", "Order", FormMethod.Post))
        {
            @Html.HiddenFor(q => q.DateId)
            @Html.HiddenFor(q => q.LoginId)

            <p>@Model.PlayName</p>
            <p>@Model.AuthorName</p>

            foreach (var date in Model.Dates)
            {
                if (date.Id == Model.DateId)
                {
                    <p><b>@date.Date.ToShortDateString()</b></p>
                }
                else
                {
                    <p>@Html.ActionLink(date.Date.ToShortDateString(), "OrdersPageForDate", "Order", new { dateId = date.Id }, null)</p>
                }
            }
            <table class="table table-bordered table-hover" border="1">
                <tbody>
                    <tr>
                        <td><p>Category</p></td>
                        <td><p>Ticket price</p></td>
                        <td><p>Total tickets</p></td>
                        <td><p>Availables</p></td>
                        <td><p>Paid</p></td>
                        <td><p>Ordered</p></td>
                        <td><p>Quantity</p></td>
                    </tr>
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        var order = Model.Categories[i];
                        <tr>
                            <td><p>@order.Category</p></td>
                            <td><p>@order.TicketPrice</p></td>
                            <td><p>@order.TotalTickets</p></td>
                            <td><p>@order.AvailableTickets</p></td>
                            <td><p>@order.PaidTickets</p></td>
                            <td><p>@order.OrderedTickets</p></td>
                            <td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p>
                                        <input name="Quantities[@i][Quantity]" />
                                        <input name="Quantities[@i][CategoryId]" type="hidden" value="@order.CategoryId" />
                                    </p>
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>Sum</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>@Model.Categories.Sum(q => q.TicketPrice * q.PaidTickets)</th>
                        <th>@Model.Categories.Sum(q => q.TicketPrice * q.OrderedTickets)</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group order-button-wrap">
                <div class="col-md-offset-2 col-md-10">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input type="submit" class="btn btn-primary" value="Order" />
                    }
                </div>
            </div>
        }
        @using (Html.BeginForm("CancelOrder", "Order", FormMethod.Post))
        {
            @Html.HiddenFor(q => q.DateId)
            @Html.HiddenFor(q => q.LoginId)
            <div class="form-group btn-align">
                @if (User.Identity.IsAuthenticated)
                {
                    <input type="submit" class="btn btn-default" value="Cancel order" />
                }
            </div>
        }
</div>
